@model StatisticModel
@{
    ViewData["title"] = "Dashboard Page";
}
<h3>Dashboard Statistic</h3>
<div class="row">
    <div class="col-md-3">
        <p>Product statistics</p>
        @ViewBag.ProductCount
    </div>
    <div class="col-md-3">
        <p>Order statistics</p>
        @ViewBag.OrderCount
    </div>
    <div class="col-md-3">
        <p>Category statistics</p>
        @ViewBag.CategoryCount
    </div>
    <div class="col-md-3">
        <p>User statistics</p>
        @ViewBag.UserCount
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>Filter data</h4>
            <select class="filter-select">
                <option value="30">----- Filter data -----</option>
                <option value="7">----- 7 Days -----</option>
                <option value="30">----- 1 Month -----</option>
                <option value="90">----- 3 Month -----</option>
                <option value="365">----- 1 Year -----</option>
            </select>
        </div>
        <div class="col-md-3">
            <h4>Choose</h4>
            <label>Start Date</label>
            <input type="date" class="form-control" id="date_from" name="date_from" />
            <label>End Date</label>
            <input type="date" class="form-control" id="date_to" name="date_to" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" id="filter_button" class="btn btn-primary">Filter</button>
        </div>
    </div>
    <div class="row">
        <div id="myfirstchart" style="height: 250px;"></div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function(){
            //Chart
             var ChartMorris = new Morris.Line({
                 element: 'myfirstchart',
                 data: [],
                 xkey: 'date',
                 ykeys:['sold','quantity', 'revenue', 'profit'],
                 labels:["Số lượng bán ra","Số lượng đơn hàng", "Doanh thu", "Lợi nhuận"]
             });

             //Show chart
             $.ajax({
                  type: "POST",
                  url: "@Url.Action("GetChartData", "Dashboard")",
                  typeData: "json",

                  success: function(data){
                    if(data){
                        ChartMorris.setData(data.map(function(item){
                              return {
                                  date: item.date,
                                  sold: item.sold,
                                  quantity: item.quantity,
                                  revenue: item.revenue,
                                  profit: item.profit
                                }
                        }))
                    }else{
                      alert("No data")
                        ChartMorris.setData([])
                    }
                  },
                  error: function(){
                    alert("Loi")
                }
             })

             //Filter time
              $('.filter-select').on('change', function(){
                  var days = $(this).val()
                  var end_date = new Date()
                  var start_date = new Date(end_date.getTime() - days * 24 *60 * 60 *1000)

                  $.ajax({
                      type: "POST",
                      url: "@Url.Action("GetChartDataBySelect", "Dashboard")",
                      data: {
                          startDate: start_date.toISOString().split("T")[0],
                          endDate: end_date.toISOString().split("T")[0]
                      },
                      success: function(data){
                            if(data){
                                ChartMorris.setData(data.map(function(item){
                                      return {
                                          date: item.date,
                                          sold: item.sold,
                                          quantity: item.quantity,
                                          revenue: item.revenue,
                                          profit: item.profit
                                        }
                                }))
                            }else{
                              alert("No data")
                                ChartMorris.setData([])
                            }
                      },
                        error: function(){
                        alert("Loi")
                      }
                  })
              })

              //Filter date
              $('#filter_button').click(function(){
                  var start_date = $('#date_from').val()
                  var end_date = $('#date_to').val()

                  $.ajax({
                      type:"POST",
                      url: "@Url.Action("FilterDate", "Dashboard")",
                      data: {
                          startDate: start_date,
                          endDate: end_date
                      },
                      success: function(data){
                            if(data){
                                ChartMorris.setData(data.map(function(item){
                                      return {
                                          date: item.date,
                                          sold: item.sold,
                                          quantity: item.quantity,
                                          revenue: item.revenue,
                                          profit: item.profit
                                      }
                                }))
                            }else{
                              alert("No data")
                                ChartMorris.setData([])
                            }
                      },
                        error: function(){
                        alert("Loi")
                      }
                  })
              })
        })
    </script>
}
