@model ShipingModel
@{
    ViewData["title"] = "Create Shipping";
}
<style type="text/css">
    .css_select_div{ text-align: center;}
    .css_select{ display: inline-table; width: 25%; padding: 5px; margin: 5px 2%; border: solid 1px #686868; border-radius: 5px;}
</style>
<h4>Create Brand</h4>
<div class="col-md-9">
        <div class="form-group">
            <label>City</label>
            <select class="css_select" id="tinh" name="tinh" title="Chọn Tỉnh Thành">
                <option value="0">City</option>
            </select>
        </div>
        <div class="form-group">
            <label>District</label>
            <select class="css_select" id="quan" name="quan" title="Chọn Quận Huyện">
                <option value="0">District</option>
            </select>
        </div>
        <div class="form-group">
            <label>Awar</label>
            <select class="css_select" id="phuong" name="phuong" title="Chọn Phường Xã">
                <option value="0">Awar</option>
            </select>
        </div>

        <div class="form-group">
            <label>Fee</label>
        <input asp-for="Price" class="form-control" id="price-shipping" />
            <span asp-validation-for="Price" class="text-danger" />
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary btn-add-shipping">Create</button>
        </div>

        <!--Table shipping-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>City</th>
                <th>District</th>
                <th>Ward</th>
                <th>Fee</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shipping in ViewBag.Shipings)
            {
                <tr>
                    <td>@shipping.Id</td>
                    <td>@shipping.City</td>
                    <td>@shipping.District</td>
                    <td>@shipping.Ward</td>
                    <td>@shipping.Price</td>
                    <td>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="Shiping" asp-route-id="@shipping.Id">Delete</a>
                    </td>
                </tr>
             
            }
        </tbody>
    </table>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function(){
            var message = '@TempData["success"]';
            if(message != '')
                swal.fire(message);
        });
    </script>

    <!--Add shipping-->
    <script>
        $('.btn-add-shipping').click(function(){
            var city = $('#tinh').find('option:selected').text()
            var district = $('#quan').find('option:selected').text()
            var ward = $('#phuong').find('option:selected').text()
            var price = $('#price-shipping').val()

            if(city == '' || district == '' || ward == '' || price == ''){
                swal.fire("Please input");
            }else{
                $.ajax({
                    type:"POST",
                    url: "@Url.Action("AddShipping", "Shiping")",
                    data: {city: city, district: district, ward :ward, price: price},

                    success: function(result){
                        if(result.success)
                            swal.fire("Add shipping success");
                        else{
                            swal.fire("Add shipping fail");
                        }
                    }
                })
            } 
        })
    </script>

    <script>
        $(document).ready(function() {
            //Lấy tỉnh thành
            $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm',function(data_tinh){
                if(data_tinh.error==0){
                   $.each(data_tinh.data, function (key_tinh,val_tinh) {
                      $("#tinh").append('<option value="'+val_tinh.id+'">'+val_tinh.full_name+'</option>');
                   });
                   $("#tinh").change(function(e){
                        var idtinh=$(this).val();
                        //Lấy quận huyện
                        $.getJSON('https://esgoo.net/api-tinhthanh/2/'+idtinh+'.htm',function(data_quan){
                            if(data_quan.error==0){
                               $("#quan").html('<option value="0">Quận Huyện</option>');
                               $("#phuong").html('<option value="0">Phường Xã</option>');
                               $.each(data_quan.data, function (key_quan,val_quan) {
                                  $("#quan").append('<option value="'+val_quan.id+'">'+val_quan.full_name+'</option>');
                               });
                               //Lấy phường xã
                               $("#quan").change(function(e){
                                    var idquan=$(this).val();
                                    $.getJSON('https://esgoo.net/api-tinhthanh/3/'+idquan+'.htm',function(data_phuong){
                                        if(data_phuong.error==0){
                                           $("#phuong").html('<option value="0">Phường Xã</option>');
                                           $.each(data_phuong.data, function (key_phuong,val_phuong) {
                                              $("#phuong").append('<option value="'+val_phuong.id+'">'+val_phuong.full_name+'</option>');
                                           });
                                        }
                                    });
                               });

                            }
                        });
                   });

                }
            });
         });
    </script>

}
