@model IEnumerable<OrderDetailModel>
@{
    ViewData["title"] = "Order Detail Page";
    decimal total = 0;
    decimal subtotal = 0;
}
<h3>List Order Detail</h3>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Order code</th>
            <th scope="col">Order username</th>
            <th scope="col">Order product name</th>
            <th scope="col">Order quantity</th>
            <th scope="col">Order price</th>
            <th scope="col">Order total price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            subtotal = @item.Quantity * @item.Price;
            total += subtotal;
            <tr>
                <input type="hidden" asp-for="@item.OrderCode" class="getId"/>
                <th scope="row">@item.Id</th>
                <td >@item.OrderCode</td>
                <td>@item.Username</td>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td>@subtotal.ToString("C")</td>
            </tr>
        }
        <tr>
            <td>Shipping Cost:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@ViewBag.ShippingCost.ToString("C")</td>
            <td></td>
        </tr>
        <tr>
            <td>Total:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@total.ToString("C")</td>
            @if(ViewBag.OrderStatus != 2)
            {
                <td>
                    <select class="form control select-update-order">
                        <option value="1">New Order</option>
                        <option value="0">Processed</option>
                    </select>
                </td>
            }
        </tr>  
        
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function(){
            $('.select-update-order').change(function(){
                var status = $(this).val();
                var order_code = $('.getId').val();
                $.ajax({
                    type:"POST",
                    url:"@Url.Action("UpdateOrder")",
                    data:{status: status, ordercode: order_code},

                    success: function(result){
                        if(result.success){
                            swal.fire("Update status order cuccess")
                        }else{
                            swal.fire("Update status order fail")
                        }
                    }
                })
            })
        })
    </script>
}