@model IEnumerable<ContactModel>
@{
    ViewData["title"] = "Contact Info";
}
<h3>List Contact</h3>
<a class="btn btn-warning btn-sm" asp-action="Create" asp-controller="Product">Thêm sản phẩm</a>
<table class="table" id="">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Description</th>
            <th scope="col">Map</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Phone</td>
                <td>@Html.Raw(@item.Description)</td>
                <td>@Html.Raw(@item.Map)</td>
                <td><img src="~/media/log/@item.LogoImage" style="width:120px; height:150px"/></td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Contact" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

