@model IEnumerable<ProductModel>
@{
	Paginate paginate = new Paginate();
	int page_no = 0;
	if(ViewBag.Pager != null)
	{
		paginate = ViewBag.Pager;
		page_no = paginate.CurrentPage;
	}
}

<div class="col-sm-3">
	@Html.Partial("_SidebarPartial")
</div>

<div class="col-sm-9 padding-right">
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center">Features Items</h2>
		@foreach (var item in Model)
		{
			<div class="col-sm-4">
				<div class="product-image-wrapper" style="height: 450px">
					<a>
						<div class="single-products">
							<div class="productinfo text-center">
								<a asp-action="Detail" asp-controller="Home" asp-route-id="@item.Id">
									<img src="~/media/products/@item.Image" alt="@item.Name" style="height: 200px"/>
									<h2>@item.Price.ToString("#, ##0, VND")</h2>
									<p>@item.Name</p>
									<p>Danh mục: @item.Category.Name</p>
									<p>Thương hiệu: @item.Brand.Name</p>
								</a>
								@if(item.Quantity > 0)
								{
									<button class="btn btn-default add-to-cart add-product" data-product_id="@item.Id"><i class="fa fa-shopping-cart"></i>Add to cart</button>
								}
								else
								{
									<button class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sold out</button>
								}
							</div>
						</div>
					</a>
					<div class="choose">
						@if(User.Identity?.IsAuthenticated ?? false)
						{
							<ul class="nav nav-pills nav-justified">
								<li><button class="add-btn-wishlist" data-product_id="@item.Id"><i class="fa fa-plus-square"></i>Add to wishlist</button></li>
								<li><button class="add-btn-compare" data-product_id="@item.Id"><i class="fa fa-plus-square"></i>Add to compare</button></li>
							</ul>
						}
					</div>
				</div>
			</div>
		}
	</div><!--features_items-->
</div>
<partial name="_PagingPartial" model="@paginate"/>

@section Scripts {
	<script>
		$(document).ready(function (){
			$('.add-product').click(function(){
				var id = $(this).data("product_id");
				$.ajax({
					type: "GET",
					url:"@Url.Action("Add", "Cart")",
					data: {id : id},

					success: function(result){
						if(result.success){
							swal.fire("Add product success")
						}else{
							swal.fire("Add product fail")
						}
					}
				})
			})
		})
	</script>

	<!--Add to wish list-->
	<script>
		$(document).ready(function(){
			$(".add-btn-wishlist").click(function(){	
				var id = $(this).data("product_id");
				$.ajax({
					type: "POST",
					url: "@Url.Action("AddWishList", "Home")",
					data:{id:id},

					success:function(result){
						if(result.success){
							swal.fire("Add product to wishlist success")
						}
						else{
							swal.fire("Add product to wishlist failure")
						}
					}
				})
			})
		})
	</script>

	<!--Add product compare-->
	<script>
		$(document).ready(function(){
			$('.add-btn-compare').click(function(){
				var id = $(this).data('product_id')

				$.ajax({
					type: "POST",
					url: "@Url.Action("AddCompare", "Home")",
					data: {id:id},

					success: function(result){
						if(result.success){
							swal.fire("Add product to compare success")
						}else{
							swal.fire("Add product to compare fail")
						}
					}
				})
			})
		})
	</script>
}